{% extends "core/base.html" %}
{% block title %} SignUP {% endblock %}

{% block content %} 

<h2>SignUP</h2>
<form method='POST' action='.'>
    {% csrf_token %}

    <div>
        <input type="text" name='username' placeholder='your name'>
    </div>
    <div>
        <input type="password" name='password1' placeholder='password'>
    </div>
    <div>
        <input type="password" name='password2' placeholder='conform ur pass'>
    </div>

    {% if form.errors%}
        {% for field  in form %}
            {% for error  in field.errors%}
                <div>
                    <p>{{field.name}} {{error | escape}} </p>
                </div>
            {%endfor%}
        {%endfor%}
    {%endif%}

    <button>Submit</button>
        
</form>

{% endblock %}