{% extends "core/base.html" %}
{% block title %} {{room.name}} {% endblock %}

{% block content %}

<h2>{{room.name}}</h2>

<div>

    <div id="chat-message">
        {% for message in messages %}
        <p>{{message.user}}</p>
        <p>{{message.content}}</p>
        {% endfor %}

    </div>

    <div>
        <form method="POST" action="."> 

            <input type="text" name="content" id="chat-message-input" placeholder="your message">
            <button id="chat-message-submit">submit</button>
        </form>
    </div>

</div>
{% endblock %}

{% block scripts %}
        {{room.slug|json_script:"json-roomname"}}
        {{request.user.username|json_script:"json-username"}}

        <script>

            const roomName= JSON.parse(document.getElementById("json-roomname").textContent);
            const userName= JSON.parse(document.getElementById("json-username").textContent);


            const chatSocket = new WebSocket(
                "ws://"
                +window.location.host
                +"/ws/"
                +roomName
                +"/"
            );

            chatSocket.onmessage = function(e){
                console.log("on message")

                const data = JSON.parse(e.data)
                if(data.message){
                    let html="<div>";
                    html+="<p>"+data.username+"</p>";
                    html+="<p>"+data.message+"</p>";
                    
                    document.querySelector("#chat-message").innerHTML += html;
                }else{
                    alert("message was empty")
                }
            }

            chatSocket.onclose = function(e){
                console.log("on close")
                console.log(e)

            }

            document.querySelector("#chat-message-submit").onclick = function(e) {
                e.preventDefault();
                const messageInputDom = document.querySelector("#chat-message-input");
                const message=messageInputDom.value;
                
                chatSocket.send(JSON.stringify(
                    {
                    "message":message,
                    "username":userName,
                    "room":roomName,
                }));

                messageInputDom.value="";

                return false;

            }


        </script>

{% endblock %}
